*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}

.text-gray{
    color: #999999 !important;
}

.text-white{
    color: #fff;
}

.text_small{
    font-size: 14px !important;
}

.bg-white{
    background-color: #fff;
}
