.main-slider.owl-carousel.owl-theme
    .main-slider__item
        div
            h2.main-slider__title Сборные силосы объемом 38 м3
                br
                | На выгодных условиях
            button.button_main-slider Узнать больше
        img.main-slider__img(src="img/main-slider-silos.png")
    .main-slider__item
        div
            h2.main-slider__title Сборные силосы объемом 38 м3
                br
                | На выгодных условиях
            button.button_main-slider Узнать больше
        img.main-slider__img(src="img/main-slider-silos.png")


    
