.article
    h1.article__title Бункеры для сыпучих материалов
    p.article__text Бункер - металлическая емкость, бак, с загрузочным и разгрузочным отверстиями, предназначенный для приема, хранения, накопления и подачи на транспортные средства различных сыпучих материалов, грузов для их дальнейшей переработки.  Высота и поперечный размер бункера, как правило, не сильно отличаются друг от друга по размерам.
    p.article__text Вертикальные устройства такого же назначения, как и бункеры, в которых высота больше поперечного размера, называют силосами.
    h2.article__subtitle Основные типы (виды) бункеров
    h3.article__list-title 1. По назначению
    ul.article__list
        li.article__text Технологические (усредняющие грузопоток) бункеры имеют минимально необходимую вместимость, достаточную для стабильной работы транспортной системы независимо от характера изменения грузопотока;
        li.article__text Аккумулирующие бункеры позволяют обеспечивать независимую работу следующих за ними транспортных звеньев (при временном прекращении подачи материала от предшествующих звеньев) за счёт накопления в бункерах некоторого запаса транспортируемого груза;
        li.article__text  Бункеры для хранения насыпных грузов
    h3.article__list-title 2. По типу установки
    ul.article__list
        li.article__text Стационарные бункеры (в зависимости от технологической схемы погрузки в средства внешнего транспорта) бывают приёмными, приёмо-погрузочными и погрузочными. Транспортная связь между приёмными и погрузочными бункерами осуществляется, как правило, с помощью ленточных конвейеров;
        li.article__text Полустационарные и передвижные технологические (усредняющие) механизированные металлические бункеры устанавливают на почву выработки и на рельсовый путь


        
