.article
    h1(style="color: #242424;font-size: 20px;font-weight: 500;line-height: 24px;margin: 0px;margin-bottom: 16px;") Бункеры для сыпучих материалов
    p(style="color: #444444;font-size: 16px;line-height: 20px;") Бункер - металлическая емкость, бак, с загрузочным и разгрузочным отверстиями, предназначенный для приема, хранения, накопления и подачи на транспортные средства различных сыпучих материалов, грузов для их дальнейшей переработки.  Высота и поперечный размер бункера, как правило, не сильно отличаются друг от друга по размерам.
    p(style="margin-bottom: 30px;position: relative;")  Вертикальные устройства такого же назначения, как и бункеры, в которых высота больше поперечного размера, называют силосами.
    h2(style="color: #242424;font-size: 20px;font-weight: 500;line-height: 24px;margin-bottom: 16px;") Основные типы (виды) бункеров
    h3(style="color: #000021;font-size: 16px;line-height: 20px;margin-bottom: 16px;font-weight: bold;") 1. По назначению
    ul(style="list-style:none;")
        li(style="margin-bottom: 30px;position: relative;") Технологические (усредняющие грузопоток) бункеры имеют минимально необходимую вместимость, достаточную для стабильной работы транспортной системы независимо от характера изменения грузопотока;
        li(style="margin-bottom: 30px;position: relative;") Аккумулирующие бункеры позволяют обеспечивать независимую работу следующих за ними транспортных звеньев (при временном прекращении подачи материала от предшествующих звеньев) за счёт накопления в бункерах некоторого запаса транспортируемого груза;
        li(style="margin-bottom: 30px;position: relative;")  Бункеры для хранения насыпных грузов
    h3 2. По типу установки
    ul(style="list-style:none;")
        li(style="margin-bottom: 30px;position: relative;")  Стационарные бункеры (в зависимости от технологической схемы погрузки в средства внешнего транспорта) бывают приёмными, приёмо-погрузочными и погрузочными. Транспортная связь между приёмными и погрузочными бункерами осуществляется, как правило, с помощью ленточных конвейеров;
        li(style="margin-bottom: 30px;position: relative;")  Полустационарные и передвижные технологические (усредняющие) механизированные металлические бункеры устанавливают на почву выработки и на рельсовый путь


        
