.consultation
    h3.consultation__title Не знаете, какой силос
        br
        | подходит именно Вам?
    
    .consultation__subtitle Оставте заявку и наш 
        br
        | специалист Вас проконсультрует
    form
        input.consultation__input(type="tel", required, placeholder="+7(___)___-__-__")
        button.button_consultation Получить консультацию
