.link{
    text-decoration: none;
}

.link_header-phone, .link_footer-phone{
    color: #333333;
    font-size: 31px;
    font-weight: 500;
}

.link_footer-phone{
    color: #ffffff;
    position: relative;
    top: 4px;
}

.link_product{
    color: #01c3c1;
    font-weight: 500;
    position: relative;
    z-index: 2;
}

.link_product::after{
    position: absolute;
    content: "";
    width: 8px;
    height: 12px;
    right: -22px;
    top: 5px;
    background: url("img/product-more.png") no-repeat center / contain;
}

.link_product-black{
    color: #242424;
    position: relative;
}

.link_product-black::after{
    position: absolute;
    content: "";
    width: 8px;
    height: 12px;
    left: -22px;
    top: 4px;
    background: url("img/product-more-black.png") no-repeat center / contain;
}

@media (max-width:1200px),(max-device-width:1200px) {
    .link_footer-phone{
        font-size: 28px;
    }
}
