.container
    .title
        h2.title__text Наши клиенты

    .owl-carousel.owl-theme.clients-carousel
        img(src="img/client1.png", alt="Vital", width="82px", height="93")
        img(src="img/client2.png", alt="Эталон", width="234px", height="95px")
        img(src="img/client3.png", alt="МСК", width="228px", height="93px")
        img(src="img/client4.png", alt="ЕК", width="204px", height="96px")
        img(src="img/client1.png", alt="Vital", width="82px", height="93")
        img(src="img/client2.png", alt="Эталон", width="234px", height="95px")
        img(src="img/client3.png", alt="МСК", width="228px", height="93px")
        img(src="img/client4.png", alt="ЕК", width="204px", height="96px")
        
