section.container.px-0.bg-white
    .title
        h2.title__text Отзывы клиентов
    
    .row.mx-0
        .col-xl-6.mb-4.mb-xl-0
            .feedback.text-center.text-xl-left
                .feedback__title Сборный силос - СС-270
                .feedback__text Изготовлен на нашем производстве и сдан заказчику - март 2017 г.
                .d-flex.justify-content-center.justify-content-xl-start.flex-column.flex-md-row.align-items-center
                    img.feedback__img1.img-fluid(src="img/feedback1_1.png", alt="СС-270")
                    img.feedback__img2.img-fluid(src="img/feedback1_2.png", alt="Отзыв")
                    img.feedback__show(src="img/feedback-icon.png", alt="Увеличить")
        .col-xl-6.mb-4.mb-xl-0
            .feedback.text-center.text-xl-left
                .feedback__title Сборный силос - СС-270
                .feedback__text Изготовлен на нашем производстве и сдан заказчику - март 2017 г.
                .d-flex.justify-content-center.justify-content-xl-start.flex-column.flex-md-row.align-items-center
                    img.feedback__img1.img-fluid(src="img/feedback1_1.png", alt="СС-270")
                    img.feedback__img2.img-fluid(src="img/feedback1_2.png", alt="Отзыв")
                    img.feedback__show(src="img/feedback-icon.png", alt="Увеличить")
    .row.mt-4.text-center.text-xl-left.mx-0
        .col-sm-6
            a.link.link_product-black(href="#") Посмотреть документацию
        .col-sm-6
            a.link.link_product(href="#") Посмотреть все отзывы
    
    .feedback__blackout
        img.feedback__blackout-img(alt="Не удалось загрузить документ")
        
                
