ul.articles
    li.articles__sublist-title.articles__sublist-title_active.articles__sublist-title_arrow Силосы, бункеры для хранения сыпучих материалов
    ul.articles__sublist
        li.articles__item.articles__item_active
            a(href="#") Бункеры для сыпучих материалов
        li.articles__item
            a(href="#") Силосы для сыпучих материалов
    li.articles__sublist-title.articles__sublist-title_arrow Силосные склады больших объемов для сыпучих материалов
    ul.articles__sublist
        li.articles__item
            a(href="#") Статья 1 внутри
        li.articles__item
            a(href="#") Статья 2 внутри
    li.articles__sublist-title.articles__sublist-title_arrow Силосы, бункеры для перевалок сыпучих грузов и материалов
    ul.articles__sublist
        li.articles__item
            a(href="#") Статья 1 внутри
        li.articles__item
            a(href="#") Статья 2 внутри
    li.articles__sublist-title
        a(href="#") Статья на первом уровне вложенности
