doctype html
html(lang="ru")
    include ../blocks/head/head.jade
    body.text-center.text-md-left
        include ../blocks/header/header.jade
            
        main
        section.container.d-flex
                include ../blocks/main-slider/main-slider.jade
            
            
        
        include ../blocks/footer/footer.jade
