doctype html
html(lang="ru")
    include ../blocks/head/head.jade
    body.text-center.text-md-left
        include ../blocks/header/header.jade
            
        main 
            
            .container-fluid.container_main-bg
                
                section.container.bg-white
                    include ../blocks/breadcrumbs/breadcrumbs.jade
                    .title.mt-0
                        h2.title__text Бункеры для сыпучих материалов
                    .d-flex.flex-column.flex-md-row.align-items-center.align-items-md-start
                        include ../blocks/articles/articles.jade
                        .article
                            .container.px-0.bg-white
                                .row.mx-0.mb-3
                                    .col-xl-3.col-md-6.px-0
                                        .product.product_small.mx-auto.mx-xl-0.mb-3.mb-xl-0
                                            a(href="#").product__title Объем от 38 до 125 м3
                                                .product__link-inner()
                                            img.product__img(src="img/product.png", alt="Силос")
                                            .product__bottom
                                                .d-flex.align-items-center.justify-content-between
                                                    .product__text.product-icon 4 600 м
                                                    .product__text.font-weight-bold от 250 000 руб
                                                hr
                                                a.link.link_product(href="#") Все силосы этой категории
                                    .col-xl-3.col-md-6.px-0
                                        .product.product_small.mx-auto.mx-xl-0.mb-3.mb-xl-0
                                            a(href="#").product__title Объем от 38 до 125 м3
                                                .product__link-inner()
                                            img.product__img(src="img/product.png", alt="Силос")
                                            .product__bottom
                                                .d-flex.align-items-center.justify-content-between
                                                    .product__text.product-icon 4 600 м
                                                    .product__text.font-weight-bold от 250 000 руб
                                                hr
                                                a.link.link_product(href="#") Все силосы этой категории
                                    .col-xl-3.col-md-6.px-0
                                        .product.product_small.mx-auto.mx-xl-0.mb-3.mb-xl-0
                                            a(href="#").product__title Объем от 38 до 125 м3
                                                .product__link-inner()
                                            img.product__img(src="img/product.png", alt="Силос")
                                            .product__bottom
                                                .d-flex.align-items-center.justify-content-between
                                                    .product__text.product-icon 4 600 м
                                                    .product__text.font-weight-bold от 250 000 руб
                                                hr
                                                a.link.link_product(href="#") Все силосы этой категории
                                    .col-xl-3.col-md-6.px-0
                                        .product.product_small.mx-auto.mx-xl-0.mb-3.mb-xl-0
                                            a(href="#").product__title Объем от 38 до 125 м3
                                                .product__link-inner()
                                            img.product__img(src="img/product.png", alt="Силос")
                                            .product__bottom
                                                .d-flex.align-items-center.justify-content-between
                                                    .product__text.product-icon 4 600 м
                                                    .product__text.font-weight-bold от 250 000 руб
                                                hr
                                                a.link.link_product(href="#") Все силосы этой категории
                                

                        
                            h1(style="color: #242424;font-size: 20px;font-weight: 500;line-height: 24px;margin: 0px;margin-bottom: 16px;") Бункеры для сыпучих материалов
                            p(style="color: #444444;font-size: 16px;line-height: 20px;") Бункер - металлическая емкость, бак, с загрузочным и разгрузочным отверстиями, предназначенный для приема, хранения, накопления и подачи на транспортные средства различных сыпучих материалов, грузов для их дальнейшей переработки.  Высота и поперечный размер бункера, как правило, не сильно отличаются друг от друга по размерам.
                            p(style="margin-bottom: 30px;position: relative;")  Вертикальные устройства такого же назначения, как и бункеры, в которых высота больше поперечного размера, называют силосами.
                            h2(style="color: #242424;font-size: 20px;font-weight: 500;line-height: 24px;margin-bottom: 16px;") Основные типы (виды) бункеров
                            h3(style="color: #000021;font-size: 16px;line-height: 20px;margin-bottom: 16px;font-weight: bold;") 1. По назначению
                            ul(style="list-style:none;")
                                li(style="margin-bottom: 30px;position: relative;") Технологические (усредняющие грузопоток) бункеры имеют минимально необходимую вместимость, достаточную для стабильной работы транспортной системы независимо от характера изменения грузопотока;
                                li(style="margin-bottom: 30px;position: relative;") Аккумулирующие бункеры позволяют обеспечивать независимую работу следующих за ними транспортных звеньев (при временном прекращении подачи материала от предшествующих звеньев) за счёт накопления в бункерах некоторого запаса транспортируемого груза;
                                li(style="margin-bottom: 30px;position: relative;")  Бункеры для хранения насыпных грузов
                            h3(style="color: #000021;font-size: 16px;line-height: 20px;margin-bottom: 16px;font-weight: bold;") 2. По типу установки
                            ul(style="list-style:none;")
                                li(style="margin-bottom: 30px;position: relative;")  Стационарные бункеры (в зависимости от технологической схемы погрузки в средства внешнего транспорта) бывают приёмными, приёмо-погрузочными и погрузочными. Транспортная связь между приёмными и погрузочными бункерами осуществляется, как правило, с помощью ленточных конвейеров;
                                li(style="margin-bottom: 30px;position: relative;")  Полустационарные и передвижные технологические (усредняющие) механизированные металлические бункеры устанавливают на почву выработки и на рельсовый путь
                                                
                                                
                                                        

                .container
                    .d-flex.justify-content-around.flex-wrap
                        img.img-fluid.container__img(src="img/silos1.png", alt="Силос")
                        img.img-fluid.container__img(src="img/silos2.png", alt="Силос")
                        img.img-fluid.container__img(src="img/silos3.png", alt="Силос")
                        img.img-fluid.container__img(src="img/silos4.png", alt="Силос")

                        
                                

            
             
            
        include ../blocks/footer/footer.jade
