section.container.container_about
    .row.align-items-center
        .col-md-6.mb-4.mb-md-0
            h2.about__title Мы будем рады помочь в достижении
                br
                | успехов в вашем деле!
            .about__text
                | Практически любое современное промышленное предприятие, деятельность которого связанна с транспортировкой, потреблением, переработкой, производством, продажей какого-либо сыпучего материала сталкивается с решением вопроса надлежащего и при этом наиболее экономичного хранения сыпучих материалов в рамках своей деятельности – вопроса складирования сыпучего материала.
                br
                | В современном мире предприятия различных отраслей промышленности начинают предъявлять все больше требований к организации наиболее оптимального процесса складирования сыпучего материала, в котором правильное размещение и хранение сыпучего материала (защита от смешивания с другими материалами, защита от загрязнения, соблюдение температурного режима, режима освещенности и влажности и др.) требует наименьших затрат при наивысшем положительном результате.
        .col-md-6
            .d-flex.align-items-center.mb-4
                .about__number 1
                .about__advantage Качество на уровне европейских производителей, но по отечественным ценам!
                
            .d-flex.align-items-center.mb-4
                .about__number 2
                .about__advantage Возможность избавиться от таможенных  пошлин за ввоз емкостного оборудования на территорию РФ
                
            .d-flex.align-items-center.mb-4
                .about__number 3
                .about__advantage Никаких наценок посредников
                
            .d-flex.align-items-center.mb-4
                .about__number 4
                .about__advantage Гибкую систему скидок
                
            .d-flex.align-items-center.mb-4
                .about__number 5
                .about__advantage Оперативность и индивидуальный подход  при решении поставленных задач
                
            a.link.link_product.d-block.text-right.mr-4(href="#") Узнать больше о компании
                
