.about__title{
    color: #242424;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.about__text{
    color: #646464;
    font-size: 14px;
    line-height: 22px;
}

.about__number{
    color: #ffffff;
    font-family: "Roboto - Black";
    font-size: 22px;
    padding: 3px 11px;
    background-color: #999999;
    font-weight: bold;
    margin-right: 19px;
    border-radius: 3px;
}

.about__advantage{
    color: #686868;
    font-weight: 500;
    line-height: 18px;
    text-align: left !important;
}

@media (max-width:500px),(max-device-width:500px) {

    .about__advantage{
        font-size:14px;
    }

}
