.container_consultation-slider{
    max-width: 1140px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container_main-bg{
    background: url("img/main-bg.png") no-repeat center top / contain;
    padding: 0px;
}

.container_about{
    background:#fafafa;
    margin:40px auto;
    padding: 20px;
}

.container__img{
    max-width: 500px;
    margin: 0px 20px 20px 0px;
}

@media (max-width:600px),(max-device-width:600px) {
    .container__img{
        max-width: 280px;
        margin: 0px 0px 20px 0px;
    }
}

@media (max-width:1200px),(max-device-width:1200px) {
    .container_consultation-slider{
        margin-top: 0px;
    }
}
