footer.footer
    .container
        nav.navbar.navbar-expand-md.py-3.px-0.d-flex.justify-content-center
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#footerNav', aria-controls='footerNav', aria-expanded='false', aria-label='Toggle navigation')
                i.fas.fa-align-justify(style="color:#fff") 
                span.pl-2.text-white Меню
                
            #footerNav.collapse.navbar-collapse
                .row.justify-content-between.pb-4
                    .col-lg-3.col-md-6
                        p.footer__text.text-gray.text_small Подробней с деятельностью компании ООО ПРОМСИЛТЭК, с каталогом производимой нами продукции, с ценами на нее и прочей информацией вы можете на нашем действующем сайте www.promduct.ru
                        p.footer__text.text-gray.text_small Будем рады помочь вам в решении производственных задач
                        p.footer__text.text-gray.text_small Успех нашего заказчика – наш успех!!!
                    .col-lg-1.col-md-6
                        .footer__text_big.mb-3.text-white Компания
                        a.footer__text.mb-3.d-block(href="#") Главная
                        a.footer__text.mb-3.d-block(href="#") О нас
                        a.footer__text.mb-3.d-block(href="#") Отзывы
                        a.footer__text.mb-3.d-block(href="#") Новости
                        a.footer__text.mb-3.d-block(href="#") Контакты
                    .col-lg-2.col-md-6
                        .footer__text_big.mb-3.text-white Продукция
                        a.footer__text.mb-3.d-block(href="#") Силосы
                        a.footer__text.mb-3.d-block(href="#") Документация
                        a.footer__text.mb-3.d-block(href="#") Цены
                        a.footer__text.mb-3.d-block(href="#") Галерия
                        a.footer__text.mb-3.d-block(href="#") Информация
                    .col-lg-3.col-md-6.px-0
                        a.link.link_footer-phone(href="tel:+74959406661") +7 (495) 940-66-61
                        button.button_footer-call.mb-3 Заказать обратный звонок
                        
                        .footer__text E-mail:
                        .d-flex.justify-content-center.justify-content-md-start.flex-column.flex-xl-row
                            a.footer__text.text_small(href="#") info@promduct.ru 
                            .d-none.d-xl-block.footer__text.text_small.px-2 : 
                            a.footer__text.text_small.mb-3(href="#") promsiltek@gmail.com
                        
                        .footer__text Адрес:
                        .footer__text.text_small Московская обл, п. Внииссок, тер. 28 км Можайского Шоссе дом 1А, оф.3
                        
        .footer__bottom.d-flex.flex-column.flex-md-row.justify-content-between.align-items-center
            .footer__text 2018 Promduct. Все права защищены
            .d-flex
                .footer__text.pr-2 Сайт разработан 
                a(href="http://web-comp.ru")
                    img(src="img/developer.png", alt="WEB-COMP.RU")
                    
