section.container
    .title
        h2.title__text Последние новости
    .d-flex.justify-content-around.justify-content-xl-between.flex-wrap
        .new.mx-4.my-4.mx-xl-0.my-xl-0
            img.new__img(src="img/new1.png", alt="Новость 1")
            .new__wrapper
                h3.new__title Ценообразование на силосы ООО "ПРОМСИЛТЭК"
                .new__text Ценообразование на силосы производства ООО «ПРОМСИЛТЭК». Уважаемые партнеры! В данной статье, как...
                .d-flex.justify-content-between.align-items-center.new__info
                    .new__date 21 / 03 / 18
                    a.button_news(href="#") Подробнее
        .new.mx-4.my-4.mx-xl-0.my-xl-0
            img.new__img(src="img/new2.png", alt="Новость 2")
            .new__wrapper
                h3.new__title Новое продукции ООО "ПРОМСИЛТЭК" в 2018 г.
                .new__text Новое в продукции ООО "ПРОМСИЛТЭК" в 2018 г. Уважаемые партнеры! Изучив и проанализировав основной...
                .d-flex.justify-content-between.align-items-center.new__info
                    .new__date 21 / 03 / 18
                    a.button_news(href="#") Подробнее
        .new.mx-4.my-4.mx-xl-0.my-xl-0
            img.new__img(src="img/new3.png", alt="Новость 3")
            .new__wrapper
                h3.new__title Сборные силосы ООО "ПРОМСИЛТЭК" 
                .new__text Сборные силосы ООО «ПРОМСИЛТЭК» объектом государственного строительного надзора не являются...
                .d-flex.justify-content-between.align-items-center.new__info
                    .new__date 21 / 03 / 18
                    a.button_news(href="#") Подробнее
        .new.mx-4.my-4.mx-xl-0.my-xl-0
            img.new__img(src="img/new4.png", alt="Новость 4")
            .new__wrapper
                h3.new__title Изготовление сборных бункеров
                .new__text Ценообразование на силосы производства ООО «ПРОМСИЛТЭК». Уважаемые партнеры! В данной статье, как...
                .d-flex.justify-content-between.align-items-center.new__info
                    .new__date 21 / 03 / 18
                    a.button_news(href="#") Подробнее
                            
                        
                        
//- section.container
//-     .title
//-         h2.title__text Последние новости
//-     .row
//-         .col-xl-3.col.col-md-6.mb-4.mb-xl-0.px-0
//-             .new
//-                 img.new__img(src="img/new1.png", alt="Новость 1")
//-                 .new__wrapper
//-                     h3.new__title Ценообразование на силосы ООО "ПРОМСИЛТЭК"
//-                     .new__text Ценообразование на силосы производства ООО «ПРОМСИЛТЭК». Уважаемые партнеры! В данной статье, как...
//-                     .d-flex.justify-content-between.align-items-center
//-                         .new__date 21 / 03 / 18
//-                         a.button_news(href="#") Подробнее
//-         .col-xl-3.col.col-md-6.mb-4.mb-xl-0.px-0
//-             .new
//-                 img.new__img(src="img/new2.png", alt="Новость 2")
//-                 .new__wrapper
//-                     h3.new__title Новое продукции ООО "ПРОМСИЛТЭК" в 2018 г.
//-                     .new__text Новое в продукции ООО "ПРОМСИЛТЭК" в 2018 г. Уважаемые партнеры! Изучив и проанализировав основной...
//-                     .d-flex.justify-content-between.align-items-center
//-                         .new__date 21 / 03 / 18
//-                         a.button_news(href="#") Подробнее
//-         .col-xl-3.col.col-md-6.mb-4.mb-xl-0.px-0
//-             .new
//-                 img.new__img(src="img/new3.png", alt="Новость 3")
//-                 .new__wrapper
//-                     h3.new__title Сборные силосы ООО "ПРОМСИЛТЭК" 
//-                     .new__text Сборные силосы ООО «ПРОМСИЛТЭК» объектом государственного строительного надзора не являются...
//-                     .d-flex.justify-content-between.align-items-center
//-                         .new__date 21 / 03 / 18
//-                         a.button_news(href="#") Подробнее
//-         .col-xl-3.col.col-md-6.mb-4.mb-xl-0.px-0
//-             .new
//-                 img.new__img(src="img/new4.png", alt="Новость 4")
//-                 .new__wrapper
//-                     h3.new__title Изготовление сборных бункеров
//-                     .new__text Ценообразование на силосы производства ООО «ПРОМСИЛТЭК». Уважаемые партнеры! В данной статье, как...
//-                     .d-flex.justify-content-between.align-items-center
//-                         .new__date 21 / 03 / 18
//-                         a.button_news(href="#") Подробнее
