section.container.px-0.bg-white
    .title
        h2.title__text Категории силосов
    .row.mx-0
        .col-xl-3.col-md-6
            .product.mx-auto.mx-xl-0.mb-3.mb-xl-0
                a(href="#").product__title Объем от 38 до 125 м3
                    .product__link-inner()
                img.product__img(src="img/product.png", alt="Силос")
                .product__bottom
                    .d-flex.align-items-center.justify-content-between
                        .product__text.product-icon 4 600 м
                        .product__text.font-weight-bold от 250 000 руб
                    hr
                    a.link.link_product(href="#") Все силосы этой категории
        .col-xl-3.col-md-6
            .product.mx-auto.mx-xl-0.mb-3.mb-xl-0
                a(href="#").product__title Объем от 38 до 125 м3
                    .product__link-inner()
                img.product__img(src="img/product.png", alt="Силос")
                .product__bottom
                    .d-flex.align-items-center.justify-content-between
                        .product__text.product-icon 4 600 м
                        .product__text.font-weight-bold от 250 000 руб
                    hr
                    a.link.link_product(href="#") Все силосы этой категории
        .col-xl-3.col-md-6
            .product.mx-auto.mx-xl-0.mb-3.mb-xl-0
                a(href="#").product__title Объем от 38 до 125 м3
                    .product__link-inner()
                img.product__img(src="img/product.png", alt="Силос")
                .product__bottom
                    .d-flex.align-items-center.justify-content-between
                        .product__text.product-icon 4 600 м
                        .product__text.font-weight-bold от 250 000 руб
                    hr
                    a.link.link_product(href="#") Все силосы этой категории
        .col-xl-3.col-md-6
            .product.mx-auto.mx-xl-0.mb-3.mb-xl-0
                a(href="#").product__title Объем от 38 до 125 м3
                    .product__link-inner()
                img.product__img(src="img/product.png", alt="Силос")
                .product__bottom
                    .d-flex.align-items-center.justify-content-between
                        .product__text.product-icon 4 600 м
                        .product__text.font-weight-bold от 250 000 руб
                    hr
                    a.link.link_product(href="#") Все силосы этой категории
